<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Health Tracker App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
    

<body>
	<div class="container">
   	<div class="row">
   		<form>
   			<div class="form-group" id="search-view">
   				<label for="search-box">Search Box</label>
   				<input type="text" name="search-box" class="form-control" id="search-box">
   			</div>
			<button class="form-group" id="click-me">Click</button>
   		</form>
   	</div>	
    <div class="row">
      <div class="col-md-6">
        <ul class="food-list">
          <script type="text/template" id="search-result-template">
            <span><%= brand_name %></span>
            <span><%= item_name %></span>
            <span><%= calories %></span>
          </script>
          </ul>
      </div>
      <div class="col-md-6">
        <ul class="selected-items">
          <script type="text/template" id="selected-item-template">
            <span><%= brand %></span>
            <span><%= item %></span>
            <span><%= cal %></span>
          </script>
        </ul>
        <b>Total calories: </b><span id="total-calories"></span>
      </div>
    </div>
    
   	</div>
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/backbone/backbone-min.js"></script>
  <script src="js/models/food-model.js"></script>
  <script src="js/models/selected-food-model.js"></script>
  <script src="js/collections/food-collection.js"></script>
  <script src="js/collections/selected-food-collection.js"></script>
  <script src="js/views/search-view.js"></script>
  <script src="js/views/search-result-view.js"></script> 
  <script src="js/views/selected-item-view.js"></script> 
	<script src="js/app.js"></script>
</body>
</html>